@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


body {
    font-family: sans-serif !important;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.usercomum_meuperfil-profile-sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 6vh;
    border: solid 1px;
    border-color: #d7d7d7;
    margin-left: 4%;
    height: 460px !important;
}

.usercomum_meuperfil-comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.usercomum_meuperfil-comment-date {
    font-size: 0.9em;
    color: #000000;
    font-weight: 600;
}


.usercomum_meuperfil-profile-sidebar img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    position: relative;
    bottom: 2.5vh;
}

.usercomum_meuperfil-profile-sidebar p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    align-self: baseline;
    position: relative;
}

.usercomum_meuperfil-profile-sidebar i {
    margin-right: 20px;
}

.usercomum_meuperfil-profile-sidebar .log-out-btn {
    margin-top: 20px;
    background-color: #EA0C68;
    color: #fff;
    border: none;
    padding: 5px 40px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.log-out-btn {
    text-decoration: underline;
}

.usercomum_meuperfil-profile-content {
    margin-top: 10vh;
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.usercomum_meuperfil-profile-content h2 {
    color: #EA0C68;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    bottom: 4vh;
    position: relative;
}

.usercomum_meuperfil-profile-form label {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.usercomum_meuperfil-profile-form input {
    width: 100%;
    padding: 9px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.usercomum_meuperfil-profile-form {
    position: relative;
    bottom: 5vh;
}

.usercomum_meuperfil-profile-form .save-btn {
    background-color: #EA0C68;
    color: #fff;
    border: none;
    padding: 7px 17px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
}

.bi-heart-fill,
.bi-calendar-fill,
.bi-clock,
.bi-envelope,
.bi-person-fill,
.bi-telephone-fill {
    color: #EA0C68;
    font-size: 25px;
}

.save-btn {
    margin-top: 3vh;
}

.usercomum_meuperfil-confirmation-section {
    border: solid 2px;
    padding: 20px;
    border-radius: 10px;
    border-color: #e4e4e4;
    background-color: white;
}

.usercomum_meuperfil-confirmation-section button {
    margin: 0 10px;
    padding: 4px 25px;
    border-radius: 4px;
    font-weight: bold;
}

.usercomum_meuperfil-confirmation-section .no-btn {
    border: solid 1px;
    border-color: #EA0C68;
    color: #EA0C68;
    font-weight: bold;
    background-color: white;
}

.usercomum_meuperfil-confirmation-section .yes-btn {
    background-color: #EA0C68;
    border: none;
    color: #fff;
}

.usercomum_meuperfil-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.usercomum_meuperfil-confirmation-section p {
    font-weight: bold;
    margin-left: 6vh;
    white-space: nowrap;
}

.header-black-strip {
    width: 100%;
    height: 60px;
    background-color: #000;
}

.usercomum_meuperfil-header-background {
    position: absolute;
    width: 100%;
    height: 30vh;
    background-image: url('../../../../public/img/bgFaleConoscoUserComum.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.usercomum_meuperfil-profile-container {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 30px;
    z-index: 1;
    top: 15vh;
}

.usercomum_meuperfil-tabs {
    display: flex;
    position: relative;
    align-self: baseline;
    bottom: 8.5vh;
}

.usercomum_meuperfil-tab-btn {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-weight: bold;
    color: #EA0C68;
    margin-left: 5vh;
    padding: 10px 17px;
    border-radius: 10px 10px 0 0;
}

.usercomum_meuperfil-tab-btn.active {
    background-color: white;
    color: #EA0C68;
}

.usercomum_meuperfil-tab-btn.inactive {
    background-color: #f0f0f0;
    color: #888888;
}

.usercomum_meuperfil-profile-content {
    padding: 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.usercomum_meuperfil-profile-sidebar p {
    white-space: nowrap;
}

.usercomum_meuperfil-container {
    display: flex;
    gap: 20px;
    height: 300px;
}

.usercomum_meuperfil-comments-section {
    flex: 1.3;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 15px;
    position: relative;
    bottom: 50px;
    right: 30px;
}

.usercomum_meuperfil-section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    top: -50px;
    text-align: left;
}

.usercomum_meuperfil-section h1::after {
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background-color: #ddd;
    margin-top: 5px;
}

.usercomum_meuperfil-comments-section h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.usercomum_meuperfil-comment-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.usercomum_meuperfil-comment-card p {
    margin: 0 0 10px;
}

.usercomum_meuperfil-comment-actions {
    display: flex;
    justify-content: space-between;
}

.usercomum_meuperfil-comment-actions a{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    position: relative;
    top: 5px;
}


.usercomum_meuperfil-comment-actions-likes {
    position: relative;
    top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #FD9771;
}

.usercomum_meuperfil-comment-actions-responses{
    position: relative;
    top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #69DE40;
}

.usercomum_meuperfil-liked-section {
    flex: 1;
    padding: 20px;
    background-color: #EA0C68;
    color: white;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: -65px;
}

.usercomum_meuperfil-liked-section p {
    font-size: 1.2em;
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
}

.usercomum_meuperfil-liked-section h2 {
    font-size: 2em;
    margin-top: 40px;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.usercomum_meuperfil-sad-icon {
    font-size: 6em;
}

.usercomum_meuperfil-liked-section p {
    font-weight: bold;
}

.usercomum_meuperfil-comments-section::-webkit-scrollbar {
    width: 14px;
    position: relative;
    right: 30px;
}

.usercomum_meuperfil-comments-section::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 3px;
}

.usercomum_meuperfil-comment-actions span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.usercomum_meuperfil-comment-actions i {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.usercomum_meuperfil-comment-actions a {
    text-decoration: none;
    color: #EA0C68;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.usercomum_meuperfil-liked-section h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin-top: 10px;
}

.bi-heart {
    color: #FD9771;
}


.bi-chat-dots {
    color: #69DE40;
}

@media (max-width: 768px) {
    .usercomum_meuperfil-profile-sidebar {
        width: 100%;
        margin-left: 0;
        padding: 4vh;
        display: flex;
        align-self: center;
    }

    .usercomum_meuperfil-profile-sidebar p {
        align-self: center;
        max-width: 300px;
    }

    .usercomum_meuperfil-profile-container {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        top: 10vh;
    }

    .usercomum_meuperfil-profile-content {
        display: none;
    }

    .usercomum_meuperfil-comments-section,
    .usercomum_meuperfil-liked-section {
        flex: 1;
        padding: 10px;
        max-height: unset;
        overflow-y: visible;
        position: relative;
    }

    .usercomum_meuperfil-tabs {
        flex-direction: column;
        position: relative;
    }

    .usercomum_meuperfil-tab-btn {
        margin: 10px 0;
        padding: 8px 12px;
    }
}

@media (max-width: 768px) {
    .usercomum_meuperfil-header-background{
        height: 100vh;
    }

    .mobile-menu {
        width: 80%;
    }

    .nav-links {
        display: none;
    }

    .custom-toggle {
        display: block;
    }
}

@media (min-width: 769px) {
    .custom-toggle {
        display: none;
    }

    .nav-links-mobile {
        display: none;
    }
}

@media (max-width: 480px) {

    .usercomum_meuperfil-profile-sidebar p,
    .usercomum_meuperfil-profile-content h2 {
        font-size: 14px;
    }

    .log-out-btn,
    .save-btn {
        padding: 5px 20px;
        font-size: 14px;
    }

    .usercomum_meuperfil-comment-card p {
        font-size: 14px;
    }
}

.usercomum_meuperfil-comments-section,
.usercomum_meuperfil-liked-section {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.usercomum_meuperfil-confirmation-section {
    max-width: 300px;
    margin: auto;
}

@media (max-width: 1197px) {
    .usercomum_meuperfil-liked-section {
        display: none;
    }
}

@media (max-width: 813px) {
    .usercomum_meuperfil-section h1::after {
        display: none;
    }
}

@media (max-width: 1150px) {
    .usercomum_meuperfil-liked-section {
        display: none;
    }
}

.usercomum_meuperfil-success-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.usercomum_meuperfil-success-card p {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.ok-btn {
    background-color: #EA0C68;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ok-btn:hover {
    background-color: #a7084a;
}

.profile-picture-container {
    position: relative;
}

.profile-picture-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.edit-icon {
    position: absolute;
    bottom: 20px;
    right: 5px;
    background-color: #EA0C68;
    color: white;
    border: none;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bi-pencil{
    position: relative;
    left: 10px;
}