/* Estilo global */
body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userComum-gallery-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: -100px;
}

.userComum-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.userComum-dot.active {
  background-color: #312CBF;
}

.userComum-dot:hover {
  background-color: #555;
}

/* Cabeçalho */
.userComum-listaArtigo-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.userComum-listaArtigo-header .userComum-line-blue {
  height: 80px;
  background-color: #312CBF;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.userComum-listaArtigo-header h2 {
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 1;
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-left: 450px;
}

.userComum-listaArtigo-header img.userComum-img-arrow {
  width: 40px;
  height: 40px;
  margin-top: 20px !important;
  margin-left: 20px;
}

/* Barra de Pesquisa */
.userComum-search-bar-container {
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-top: 10px;
}

.userComum-search-bar {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff !important;
  width: 200px;
  height: 35px;
  color: white;
}



.userComum-search-bar::placeholder {
  color: white;
}

.userComum-search-icon {
  position: absolute;
  left: 1280px;
  height: 30px !important;
}

/* Seção Artigos */
.userComum-listaArtigo-articles {
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  padding-left: 50px;
}

.userComum-listarArtigo-articles-text {
  font-size: 14px;
  color: #888;
}

.userComum-listaArtigo-articles-list {
  display: flex;
  flex-direction: column;
  /* background-color: #312CBF; */
  width: 50vw !important;
}

.userComum-article {
  display: flex;
  margin-bottom: 35px;
  /* width: 10%;
  background-color: #555; */
}

.userComum-listarArtigo-conteudoartigo{
  /* background-color: #b83939; */
  width: 50% !important;
}
.userComum-listarArtigo-conteudoartigo p{
  /* background-color: #312CBF; */
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  line-height: 1.4em; /* Ajusta a altura das linhas */
  max-height: 4.2em; /* Defina a altura máxima para limitar o número de linhas (3 linhas * line-height) */
  overflow: hidden; /* Esconde o texto que ultrapassa o limite de altura */
  display: -webkit-box; /* Necessário para usar o line-clamp */
  -webkit-box-orient: vertical; /* Necessário para usar o line-clamp */
  -webkit-line-clamp: 3; /* Limita a 3 linhas */
  text-overflow: ellipsis; /* Adiciona '...' no final quando o texto é cortado */
  text-align: justify !important;
}

.userComum-article img {
  width: 250px;
  height: 180px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 5px;
}

/* Seção Galeria */
.userComum-listarArtigo-gallery-section {
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  margin-right: 100px;
}

.userComum-listarArtigo-gallery {
  width: 100%;
  height: auto;
}

.userComum-listarArtigo-gallery img {
  width: 300px;
  height: 300px;
}

.userComum-listarArtigo-gallery-section h3 {
  font-weight: bold;
  margin-left: 0;
}

/* Container para Artigos e Galeria */
.userComum-content-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.userComum-listaArtigo-articles {
  flex: 2;
}

.userComum-listaArtigo-articles,
.userComum-listarArtigo-gallery-section {
  flex: 1;
}

.userComum-article {
  display: flex;
  margin-bottom: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.userComum-article:last-child {
  border-bottom: none;
}

.userComum-listarArtigo-line-separator {
  height: 1px;
  background-color: #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Seção Mais Lidos */
.userComum-listarArtigos-popular-section {
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 100%;
  width: auto;
  background-color: #f9f9f9;
  margin-right: 150px;
  height: 595px;
  overflow-y: auto;
}

.userComum-listaArtigo-popular-list {
  list-style: none;
  padding: 0;
}

.userComum-listaArtigo-popular-item {
  margin-bottom: 10px;
}

.userComum-listarArtigo-popular-item-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userComum-serComum-listarArtigo-img-popular-list {
  width: 120px;
  height: 120px;
}

.userComum-listarArtigo-author-text {
  font-size: 14px;
  color: #888;
}

/* Responsividade para telas de 990px ou mais */
@media (min-width: 990px) {

  .userComum-listaArtigo-header h2 {
    font-size: 35px;
    margin-left: 350px;
    margin-top: 15px;
    text-align: left;
  }

  .userComum-search-bar-container {
    margin-left: 40px;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .userComum-search-bar {
    width: 180px;
  }

  .userComum-search-icon {
    position: absolute;
    left: 905px;
  }

  .userComum-listarArtigos-popular-section {
    max-width: 100%;
    width: auto;
    margin-right: 15px;
    height: 600px;
    overflow-y: auto;
  }
}

/* Responsividade para telas de 770px a 880px */
@media (min-width: 770px) and (max-width: 880px) {
  .userComum-listaArtigo-header img.userComum-img-menu {
    display: none; 
  }

  .userComum-listaArtigo-header h2 {
    font-size: 35px;
    margin-left: 200px;
    margin-top: 15px;
    text-align: left;
  }

  .userComum-search-bar-container {
    margin-left: 20px;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
  }

  .userComum-search-bar {
    width: 180px;
  }

  .userComum-search-icon {
    position: absolute;
    left: 145px;
  }

  .userComum-listaArtigo-articles {
    width: 80%;
    padding-left: 40px;
  }

  .userComum-article {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .userComum-article img {
    width: 300px !important;
    height: 150px !important;
  }

  .userComum-content-grid {
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
  }

  .userComum-listarArtigo-conteudoartigo h4{
    font-size: 15px;
  }

  .userComum-listarArtigo-articles-text{
    font-size: 10px !important;
  }

  .userComum-listarArtigo-conteudoartigo p{
    font-size: 12px;
  }
  
  .userComum-listarArtigo-gallery-section {
    width: 70%;
    margin-left: -25px;
  }

  .userComum-listarArtigo-gallery img {
    width: 150px !important;
    height: 150px !important;
    max-width: 100%;
  }

  /* Seção Mais Lidos */
  .userComum-listarArtigos-popular-section {
    width: 100%;
    margin-left: -30px;
    margin-right: 10px;
  }

  /* Ajustes nas imagens do grid */
  .userComum-content-grid img {
    width: 100px;
    height: 100px;
    max-width: 220px;
  }

  .userComum-listarArtigos-popular-section {
    max-width: 100%;
    width: auto;
    margin-right: 15px;
    height: 550px;
    overflow-y: auto;
  }
}

/* Responsividade para telas de 880px a 990px */
@media (min-width: 880px) and (max-width: 990px) {
  .userComum-listaArtigo-header img.userComum-img-menu {
    display: none;
  }

  .userComum-menu, .userComum-navigation {  
    display: none;
  }

  .userComum-listaArtigo-header h2 {
    font-size: 35px; 
    margin-left: 200px; 
    margin-top: 15px;
    text-align: left; 
  }

  .userComum-listarArtigo-conteudoartigo p{
    font-size: 14px;
  }
  
  .userComum-search-bar-container {
    margin-left: 20px;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
  }

  .userComum-search-bar {
    width: 180px;
  }

  .userComum-search-icon {
    position: absolute;
    left: 145px;
  }
}

@media (min-width: 700px) and (max-width: 769px) {

  .userComum-listaArtigo-header img.userComum-img-menu {
    display: none;
  }

  .userComum-menu, .userComum-navigation {  
    display: none;
  }

  .userComum-listaArtigo-header h2 {
    font-size: 30px; 
    margin-left: 100px; 
    margin-top: 15px;
    text-align: left; 
  }

  .userComum-listarArtigo-conteudoartigo p{
    font-size: 14px;
  }

  .userComum-search-bar-container {
    margin-left: 20px;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
  }

  .userComum-search-bar {
    width: 180px;
  }

  .userComum-search-icon {
    position: absolute;
    left: 145px;
  }

  .userComum-listarArtigo-gallery-section {
    width: 70%;
    margin-left: 75px;
  }

  .userComum-listarArtigo-gallery img {
    width: 150px !important;
    height: 150px !important;
    max-width: 100%;
  }

  .userComum-content-grid img {
    width: 100px;
    height: 100px;
    max-width: 220px;
  }

  /* Seção Mais Lidos */
  .userComum-listarArtigos-popular-section {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .userComum-listarArtigos-popular-section {
    max-width: 80%;
    width: auto;
    margin-right: 15px;
    height: 550px;
    overflow-y: auto;
  }

  .userComum-listaArtigo-articles {
    width: 80%;
    padding-left: 40px;
  }

  .userComum-article {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .userComum-article img {
    width: 300px !important;
    height: 100px !important;
  }

  .userComum-listarArtigo-conteudoartigo h4{
    font-size: 15px;
  }

  .userComum-listarArtigo-articles-text{
    font-size: 10px !important;
  }

  .userComum-listarArtigo-conteudoartigo p{
    font-size: 12px;
  }


  .userComum-serComum-listarArtigo-img-popular-list {
    width: 70px !important;
    height: 70px !important;
  }
  
  .userComum-listarArtigo-author-text {
    font-size: 14px;
    color: #888;
  }
  
}

@media (min-width: 650px) and (max-width: 700px) {
  .userComum-listaArtigo-header img.userComum-img-menu {
    display: none;
  }

  .userComum-menu, .userComum-navigation {  
    display: none;
  }

  .userComum-listaArtigo-header h2 {
    font-size: 30px; 
    margin-left: 50px; 
    margin-top: 15px;
    text-align: left; 
  }

  .userComum-listarArtigo-conteudoartigo p{
    font-size: 14px;
  }

  .userComum-search-bar {
    width: 180px;
    margin-left: -140px;
  }

  .userComum-search-icon {
    position: absolute;
    left: 560px;
  }

  .userComum-listarArtigo-gallery-section {
    width: 70%;
    margin-left: 100px;
  }

  .userComum-listarArtigo-gallery img {
    width: 150px !important;
    height: 150px !important;
    max-width: 100%;
  }

  .userComum-content-grid img {
    width: 100px;
    height: 100px;
    max-width: 220px;
  }

  
  /* Seção Mais Lidos */
  .userComum-listarArtigos-popular-section {
    width: 100%;
    margin-left: 50px;
    margin-right: 10px;
  }

  .userComum-listarArtigos-popular-section {
    max-width: 70%;
    width: auto;
    margin-right: 15px;
    height: 550px;
    overflow-y: auto;
  }

  
  .userComum-listarArtigo-conteudoartigo h4{
    font-size: 15px;
  }

  .userComum-listarArtigo-articles-text{
    font-size: 10px !important;
  }

  .userComum-listarArtigo-conteudoartigo p{
    font-size: 12px;
  }
}


@media (min-width: 400px) and (max-width: 650px) {

  .userComum-listaArtigo-header img.userComum-img-menu {
    display: none;
  }

  .userComum-menu, .userComum-navigation {  
    display: none;
  }

  .userComum-content-grid {
    display: block;
    width: 100%;
  }

  .userComum-content-left,
  .userComum-content-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .userComum-listaArtigo-header h2 {
    font-size: 26px; 
    margin-left: 10px; /* Deixando o título mais próximo da borda */
    margin-top: 20px !important ;
    text-align: center; /* Mantendo o título centralizado */
    max-width: 90%; /* Impede que o título ocupe toda a largura */
    margin: 0 auto; /* Centraliza o título na tela */
  }

  .userComum-search-bar-container {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 30%; 
  }

  .userComum-search-bar {
    width: 90%; 
    padding: 12px;
    position: relative;
  }


  .userComum-search-icon {
    display: none; 
  }

  /* Artigos */
  .userComum-article {
    display: flex; 
    margin-bottom: 15px;
    margin-left: -40px;
    justify-content: space-between;
    align-items: center;
  }

  .userComum-article img {
    width: 45%; 
    height: auto;
  }

  .userComum-listarArtigo-conteudoartigo {
    padding-left: 0;
    width: 50%;
  }

  .userComum-listaArtigo-articles h3{
    margin-top: 50px !important;
  }

  .userComum-listarArtigo-conteudoartigo h4 {
    font-size: 16px;
  }

  .userComum-listarArtigo-articles-text {
    font-size: 12px;
  }

  .userComum-listarArtigo-conteudoartigo p {
    font-size: 12px;
  }

  .userComum-listarArtigo-gallery-section,
  .userComum-listarArtigos-popular-section {
    display: none;
  }
}

@media (max-width: 400px) {

  .userComum-search-icon {
    display: none; 
  }

  .userComum-listaArtigo-header img.userComum-img-menu {
    display: none;
  }

  .userComum-menu, .userComum-navigation {  
    display: none;
  }

  .userComum-content-grid {
    display: block;
    width: 100%;
  }

  .userComum-content-left,
  .userComum-content-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .userComum-listaArtigo-header h2 {
    font-size: 22px; /* Ajusta o tamanho do título */
    margin-left: 10px;
    margin-top: 20px !important;
    text-align: center; 
    max-width: 90%;
    margin: 0 auto;
  }

  .userComum-search-bar-container {
    margin-left: -15px;
    margin-right: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 30%; 
  }

  .userComum-search-bar {
    width: 100%;
    padding: 12px;
    position: relative;
  }

  /* Artigos */
  .userComum-article {
    display: flex; 
    margin-bottom: 15px;
    margin-left: -30px;
    justify-content: space-between;
    align-items: center;
  }

  .userComum-article img {
    width: 40%; /* Ajusta a largura da imagem para um tamanho mais apropriado */
    height: auto;
  }

  .userComum-listarArtigo-conteudoartigo {
    padding-left: 0;
    width: 55%; /* Ajusta a largura do conteúdo do artigo */
  }

  .userComum-listarArtigo-conteudoartigo h4 {
    font-size: 14px; /* Ajuste de tamanho da fonte do título do artigo */
  }

  .userComum-listaArtigo-articles h3{
    margin-top: 40px;

  }

  .userComum-listarArtigo-articles-text {
    font-size: 10px; /* Ajuste de tamanho da fonte para a descrição */
  }

  .userComum-listarArtigo-conteudoartigo p {
    font-size: 10px; /* Ajuste de tamanho da fonte para o texto do artigo */
  }

  /* Esconder a galeria e mais lidos quando a tela for menor que 400px */
  .userComum-listarArtigo-gallery-section,
  .userComum-listarArtigos-popular-section {
    display: none;
  }
}
