.formularioMaster-body{
  display: grid;
  grid-template-columns: 1% 90%;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.formularioMaster-container {
  width: 104% !important;
  margin-left: 10vh;
<<<<<<< HEAD
  padding: 17px 90px !important;
=======
  padding: 98px;
>>>>>>> 07b75f853abfe50a096439256c2d1b28872fa06b
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 730px !important;
}

.formularioMaster-header {
  display: flex;
  margin-top: 0px;
  justify-content: space-between;
  align-items: center;
}

.formularioMaster-title {
  font-family: 'Pattaya' sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.formularioMaster-brand {
  font-weight: 700;
  font-size: 30px;
  font-family: "Oswald";
}

.formularioMaster-profile {
  text-align: center;
  margin-bottom: 20px;
}

.formularioMaster-profile-img-wrapper {
  position: relative;
  display: inline-block;
}

.formularioMaster-profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 100px !important;
}

.formularioMaster-profile-icon {
  font-size: 90px;
  color: #787878;
}

.formularioMaster-icon {
align-items: center;
}

.formularioMaster-edit {
margin-bottom: 20px;
}

.formularioMaster-edit-button {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.formularioMaster-file-input {
  display: none; 
}

.formularioMaster-form {
  position: relative;
  margin-bottom: 40px !important;
}

.formularioMaster-label {
  font-weight: 500;
  font-size: 15px;
  font-family: "Montserrat";
}

.formularioMaster-input {
  border: 2px solid;
  border-color: #D9D9D9;
  border-radius: 5px;
  padding: 10px;
<<<<<<< HEAD
  height: 6vh;   
}

.formularioMaster-input:hover{
  border-color: #6846EF;
}

.FormularioMaster-dropdown-custom{
  background-color: white;
  color: black;
  border: 2px solid;
  border-color: #D9D9D9;
  border-radius: 7px;
  width: 100%;
  height: 43px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
}

.FormularioMaster-dropdown-custom:hover{
  background-color: #6846EF;
  color: white;
}

.formularioMaster-dropdown-Menu{
  width: 100% !important;
}

.FormularioMaster-dropdown-Item{
  border: 1.5px solid;
  border-color: #D9D9D9;
  border-radius: 6px;
  padding: 10px 5px;
  margin-top: 6px;
  margin-left: 11px !important;
  width: 98% !important;
}

.FormularioMaster-dropdown-Item:hover{
  border-color: #6846EF;
}

.FormularioMaster-dropdown-Item p{
  font-size: 17px;
=======
  height: 45px;

}

.formularioMaster-dropdown {
  max-height: 60% !important;
}

.FormularioMaster-dropdown-custom{
  font-family: Montserrat;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  border: 2px solid #D9D9D9;
}

.FormularioMaster-dropdown-custom:hover{
  background-color: #6846EF;
  color: white;
}

.FormularioMaster-dropdown-custom h5{
  margin-top: 7px;
  font-weight: 600 !important;
}

.FormularioMaster-dropdown-Item {
  border: 1.5px solid #D9D9D9; 
  width: 99%;
  border-radius: 5px; 
  margin: 5px; 
  margin-left: 7px !important;
  padding: 7px; 
  transition: background-color 0.3s, color 0.3s; 
}

.FormularioMaster-dropdown-Item:hover {
  color: #000000; 
  border-color: #6846EF;
}

.formularioMaster-dropdown-Menu{
  background-color: white;
  width: 100% !important;
  
>>>>>>> 07b75f853abfe50a096439256c2d1b28872fa06b
}

.formularioMaster-submit-button {
  float: right !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
  background-color: #6846EF;
  border-color: #6846EF;
  border-radius: 8px;
  width: 18%;
  height: 40px;
  font-weight: bold;
}

.formularioMaster-submit-button:hover{
  background-color: #6846EF;
  border-color: #6846EF;
}

.formularioMaster-administrador-msg {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  width: 400px;
  word-break: normal;
}

.formularioMaster-Limitado,
.formularioMaster-Ilimitado{
  font-family: Montserrat;
  font-size: 10px;
}

.formularioMaster-Ilimitado{
  margin-left: 5px;
}

.formularioMaster-Limitado{
  margin-left: 5px;
}

.fomularioMaster-Nopcolunista,
.formularioMaster-Colunista{
  font-family: Montserrat;
  font-size: 10px;
}

.formularioMaster-Colunista{
  margin-left: 5px;
}

.fomularioMaster-Nopcolunista{
  margin-left: 5px;
}