.cadPerfilUserAlunoDescription {
    border: none !important;
}

.cadPerfilUserAlunoDescription-infos {
    background-image: url("../../../../../../public/img/bg-perfil-semborda.svg");
    width: 100% !important;
    
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid #E1E1E1;
    border-radius: 30px;
}

.cadPerfilUserAlunoDescription-button {
    width: 100%;
    height: 18%;
    background-color: transparent !important;   
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin: 10%;
}

.cadPerfilUserAlunoDescription-button:hover {
    width: 100%;
    height: 18%;
    padding: 0;
    border: 1px solid #d9d9d9 !important;
    border-radius: 10px;
}

.cadPerfilUserAlunoDescription-button p {
    color: #000;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: bold;
    margin-inline: 1.75rem;
    margin-block: 0.5rem;
}

.cadPerfilUserAlunoDescription-body-info {
    text-align: center !important;
    font-family: "Montserrat";
}

.cadPerfilUserAlunoDescription-body-info img {
    margin: 10% 0 0 0 !important;
    width: 45% !important;
    height: 60% !important;
}
.aluno_MeusArtigos-rightSide-Perfil-body-info img {
    width: 0px !important;
    height: 0px !important;
}
.cadPerfilUserAlunoDescription-body-info h5 {
    margin: 3% 0 0 0 !important;
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .cadPerfilUserAlunoDescription-infos {
        background-image: url("../../../../../../public/img/bg-perfil-semborda.svg");
        width: 100% !important;
        height: 10rem !important;
    }
    .cadPerfilUserAlunoDescription-button {
        width: 110%;
        height: 22%;
        margin: 25%;
    }
    .cadPerfilUserAlunoDescription-button p {
        font-size: 13px;
        margin-inline: 1rem;
    }
    
    .cadPerfilUserAlunoDescription-body-info img {
        width: 100%;
        height: 55%;
    }
    .cadPerfilUserAlunoDescription-body-info h5 {
        margin: 3% 0 0 0 !important;
        font-size: 16px;
        font-weight: bold;
    }
}
