

/* Estilo para o botão */
.faleConoscoProfessor-filterButton-custom-button {
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    padding-left: 9px;
    display: flex;
    width: 9rem !important;
    height: 3rem !important;
}
.faleConoscoProfessor-filterButton-custom-button:hover{
    border: 2px solid #000 !important;
}

.faleConoscoProfessor-filterButton-custom-button i {
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.faleConoscoProfessor-filterButton-custom-button p {
    font-size: 20px;
    font-family: "Rajdhani",sans-serif;
    font-weight: bold;
 
}

/* Container do menu */
.faleConoscoProfessor-filterButton-dropdown-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 10px;
    width: 250px !important;
    z-index: 1000;
    margin-left: -15rem;
    margin-top: 5%;
}

/* Estilo para as opções do menu */
.faleConoscoProfessor-filterButton-dropdown-item {
    display: flex;
    cursor: pointer;
    border: 1px solid #ececec !important;
    border-radius: 5px;
    margin-top: 5%;
    height: 4rem;
    align-items: center;
    text-align: center;
   
}

.faleConoscoProfessor-filterButton-dropdown-item i {
    font-size: 26px;
    
    margin-right: 10px;
}

.faleConoscoProfessor-filterButton-dropdown-item p {
    font-size: 14px;
    padding-left: 8px;
    
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
}



.faleConoscoProfessor-filterButton-dropdown-icon-check {
   
    font-size: 2rem;
    margin-left: 10px;
    vertical-align: middle;
}



