/* controlePrincipalNDashAluno.css */
.NewDashboardAluno__content {
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow: hidden; /* Desabilitar scroll */
}

.NewDashboardAluno__sidebar {
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.NewDashboardAluno__mainContent {
    margin-left: 7%;
    width: 90%;
    padding: 10px;
}

@media (max-width: 768px) {
    .NewDashboardAluno__sidebar {
        position: absolute;
        width: 100%;
        transform: translateX(-100%);
    }
    .NewDashboardAluno__content {
        display: block;
    }
}
