/* parte header Provisorio */
.aluno_div_header_navBar{
  z-index: 9999;
  display: flex;
  height: 13vh;
}
.aluno_header_navBar_div_h3{
  margin-block: 2rem;
}
.aluno_header_navBar_div_h3 h3{
  font-family: "Oswald", sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: 35px;
}


/* parte navBar aluno */
.aluno_navBar_nav {
  position: fixed;
  top: 10rem;
  left: 1.25rem;
  width: 65px;
  height: 80vh;
  background-color: #41BFB3;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  z-index: 999;

  font-family: "Oswald", sans-serif;
}

.aluno_navBar_nav:hover {
  width: 170px;
}

.aluno_navBar_nav-links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10rem;
  left: 0.75rem;
}

.aluno_navBar_ul {
  list-style-type: none !important;
  align-items: center;
}

.aluno_navBar_li {
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aluno_navBar_i {
  font-size: 24px;
}

#aluno_navBar_button_nav
{
  width: 100%;
  border: none;
  gap: 0.75rem;
  display: flex;
}

.aluno_navBar_div_subtitulos p {
  margin-block: 0.75rem;
  margin-inline: 0.25rem;
  font-size: 14px !important;
}
.aluno_navBar_active-btn {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 5px;
}

.aluno_navBar_inactive-btn {
  background-color: transparent;
}

.aluno_navBar_active-icon {
  color: #41BFB3;
  margin-left: 0.5rem;
}

.aluno_navBar_inactive-icon {
  color: white;
  margin-left: 0.6rem;
}

.aluno_navBar_button_exit{
  background-color: transparent;
  width: 100%;
  border: none;
  gap: 0.75rem;
  display: flex;
}

.aluno_navBar_exit-icon {
  color: rgb(255, 255, 255);
  font-size: 30px !important;
  margin-left: 1rem;
}

.aluno_navBar_p_exit{
  position: relative;
  top: 0.5rem ;
}
.aluno_navBar_active-subtitle {
  color: #41BFB3;
}

.aluno_navBar_inactive-subtitle {
  color: rgb(255, 255, 255);
}
